<!-- 
 🔍 This $event variable is not just available when working with custom events! It can be used on built-in  events ( like"click)
  to get hold of potentially emitted values. 
 🔍 this.select.emit(this.id) in the child triggers the select event with payload id. (select)="onSelectUser($event)" 
 listens for that event in the parent and receives the id as $event.
  🔍 The @for directive is a shorthand for ngFor, which is used to iterate over a collection.
-->

<app-header />
<main>
  <ul id="users">
    @for( user of users; track user.id) {
    <li>
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li>

    }
    <!-- <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li> -->
  </ul>
  @if(selectedUser) {
  <!-- <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser?.name" /> -->
  <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" />
  }@else {
  <!-- <ng-template #fallback>
    <p>Select a user to see their tasks!</p>
  </ng-template> -->

  <p>Select a user to see their tasks!</p>
  }
</main>
